table {
    border-collapse: collapse;
}

/* td {
    border: 1px solid rgb(150, 150, 150);
    padding: 5px;
    width: 10px;
    height: 2px;
    text-align: center;
}  */

th {
    border: 1px solid rgb(124, 124, 124);
    padding: 5px;
    background-color: #17a397;
    text-align: center;
}

/* le tableau prend toute la page et est centré */
table {
    width: 100%;
    margin: 0 auto;
}

#creneau {
    height: 1%px;
    width: 10px;
    border: 1px solid rgb(124, 124, 124);
    text-align: center;
    font-size: 15px;
}

#groupe {
    height: 1%px;
    width: 10px;
    border: 1px solid rgb(124, 124, 124);
    text-align: center;
    font-size: 15px;
    border-bottom: 2px solid rgb(124, 124, 124);
    border-right: 2px solid rgb(124, 124, 124);
}

#jours {
    border-bottom: 2px solid rgb(124, 124, 124);
    border-left: 2px solid rgb(124, 124, 124);
    border-right: 2px solid rgb(124, 124, 124);
}


/* centre le titre du calendendrier */
#circulation_dates {
    text-align: center;
}

.custom-text-size {
    font-size: 20px;
}


/* Style pour la fenêtre modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  
  /* Style pour le contenu de la fenêtre modale */
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  
  /* Style pour le bouton Fermer */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
.modal-content p {
    text-align: center;
}

#ajoutercoursbouton {
    margin: 0 auto;
    display: block;
    width: 100%;
    text-align: center;
    background-color: chartreuse;
}

#myBtn {
    float: left;
    margin: 0 auto;
    display: block;
    width: 120px;
    text-align: center;
    background-color: rgb(255, 205, 40);
    border-radius: 4px;
}

#myBtn:hover {
    background-color: rgb(255, 196, 0);
}
